body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 100%;
  margin: 20px 10px 20px 10px;
}

.images {
  align-self: center;
}

.main-title {
  font-size: 30px;
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
}

.for_slick_slider .items {
  width: 60%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.for_slick_slider .items img {
  width: 80%;
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  align-self: center;
  display: grid;
  grid-template-columns: 180px 180px;
  grid-template-rows: 340px 340px;
  grid-gap: 2px;
}

.image-carrusel {
  width: 180px;
  height: 180px;
  margin-bottom: 5px;
}

.grid-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-carusel {
  margin: 0px 0px 5px 0px;
  font-size: 13px;
  font-weight: 500;
}

.price-before {
  margin: 0;
  font-size: 15px;
  text-decoration: line-through;
  color: #7b7b7c;
}

.price-before-b {
  margin: 0;
  font-size: 13px;
  text-decoration: line-through;
  color: #7b7b7c;
}

.actual-price {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas fa-tag {
  font-size: 13px;
}

.now {
  margin: 0;
  font-size: 10px;
}

.red-price {
  margin: 0;
  color: red;
}

.show-modal {
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  border: none;
  background-color: rgb(230, 139, 139);
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  margin: auto;
  width: 70%;
  height: 20%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title-modal {
  font-size: 15px;
}

.content-modal {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 50px;
  }
  .grid-container {
    align-self: center;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 370px 370px;
    grid-gap: 3px;
  }

  .image-carrusel {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
  }
  .text-carusel {
    font-size: 14px;
  }

  .price-before {
    font-size: 16px;
  }

  .price-before-b {
    font-size: 14px;
  }

  .now {
    font-size: 11px;
  }

  .red-price {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .main-title {
    font-size: 50px;
  }
  .grid-container {
    align-self: center;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 470px;
    grid-gap: 5px;
  }

  .image-carrusel {
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
  }
  .text-carusel {
    font-size: 16px;
  }

  .price-before {
    font-size: 18px;
  }

  .price-before-b {
    font-size: 16px;
  }

  .now {
    font-size: 12px;
  }
  .red-price {
    font-size: 20px;
  }
  .modal {
    height: 30%;
  }
  .show-modal {
    padding: 10px;
  }
  .close-modal {
    top: 1.2rem;
    right: 1rem;
    font-size: 2rem;
  }
  .title-modal {
    font-size: 32px;
  }
  .content-modal {
    font-size: 24px;
  }
}
